.tilebox {
  position: relative;
  opacity: 1;
  float: left;
  width: 100%;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 900px;
  top: 25%;
  left: 15%;
  background-color: #d4e0f2;
}


